{% extends "main.html" %}
{% block title %}Acme Pentest - {{ article.title }}{% endblock %}

{% block main_content %}
    <h2>{{ article.title }}</h2>
    <div>
    {% autoescape off %}
        {{ article.text }}
    {% endautoescape %}
    </div>
{% endblock %}