{% load static %}
{% load scorry_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%  static "css/toaster.min.css"%}">
    <link rel="stylesheet" href="{%  static "css/main.css"%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Acme Pentest</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a href="{% url 'scorry_tasks' %}" class="navbar-link">Задания</a>
              </li>
              <li>
                  <a href="{% url 'scoreboard' %}" class="navbar-link">Scoreboard</a>
              </li>
          </ul>
            {% if not user.is_authenticated %}
          <form class="navbar-form navbar-right" role="form" action="{% url 'scorry_login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Название команды" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Пароль" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
          </form>
            {% else %}
                <p class="navbar-text pull-right">
                    Привет, {{ user.team_name }} <a class="navbar-link" href="{% url 'scorry_logout' %}">Выйти</a>
                </p>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container" id="main_container">
        <div class="row">
            <div class="col-md-3">
                {% news_block %}
            </div>
            <div class="col-md-9" id="main_content">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>

<div id="message" style="display: none">
    {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    {% endif %}
</div>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/toaster.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>