{% extends "main.html" %}
{% block title %}Acme Pentest{% endblock %}
{% block main_content %}
    <h1>Scoreboard</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>
                    Команда
                </td>
                <td>
                    Баллы
                </td>
            </tr>
            </thead>
            <tbody>
            {% for team_name, score in results %}

                <tr {% if team_name == team %}
                    class="success"
                {% endif %}>
                    <td>
                        {{ team_name }}
                    </td>
                    <td>
                        {{ score }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}