{% extends "main.html" %}

{% block title %}Acme Pentest{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Status Page</h1>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Not All Systems Operational
                        <small class="pull-right">Refreshed 39 minutes ago</small>
                    </h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="list-group">

                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Website and API
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access website and use site API">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h4>
                            <p class="list-group-item-text">
                                <span class="label label-danger">Not Operational</span>
                            </p>
                        </div>

                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                SSH
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access site using SSH terminal">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h4>
                            <p class="list-group-item-text">
                                <span class="label label-success">Operational</span>
                            </p>
                        </div>

                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Database Server
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h4>
                            <p class="list-group-item-text">
                                <span class="label label-success">Operational</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}